
@{
    ViewBag.Title = "Create Student";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create</h2>

<h2>Create Student</h2>
<form action="/student/create" method='post'>
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="studentname">Student Name</label>
            <input type="text" class="form-control" name="sname" id="studentname" placeholder="Student Name" />
        </div>
        <div class="form-group col-md-6">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control"  name="phone" id="phone" placeholder="Student Phone number" />
        </div>
        <div class="form-group col-md-6">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" id="address" placeholder="student Address" />
        </div>
        <div class="form-group col-md-6">
            <label for="gender">Gender</label><br />
            <input  id="Gender" name="Gender" value="Male"   type="radio" >
            <label for="Male">Male</label><br>
            <input  id="Gender" name="Gender" value="Female"  type="radio" >
            <label for="Female">Female</label>
            @* <input type="text" class="form-control" name="gender" id="gender" placeholder="student gender" />*@
        </div>
    </div><br />
    <button type="submit" class="btn btn-success">create</button>
    <a class="btn btn-danger" href="/student/index">Cancel</a>
</form>
