<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>

    <div>

        <nav class="navbar navbar-expand-sm bg-warning navbar-light">

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/index">Category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brand/index">Brands</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Product/index">Products</a>
                </li>
            </ul>
            <div class="col-4 text-black-50">
                @ViewBag.message
            </div>

        </nav>
    </div>


    <div class="container-fluid">
        
                @RenderBody()
            </div>
       
</body>
</html>
