
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
</head>
<body>
    <div>
        Username<input type="text" value="uname" /><br />
        Password<input type="text" value="pass" /><br />
    </div>
</body>
</html>
