
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>This is Contact section</h2>

@{

    ViewBag.message = "contact me on this page";
}

@section SideBarOption
{
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact home</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact founder</a>
    <a href="#" class="list-group-item text-white" style="background-color:transparent">Contact team</a>

}