
@{
    ViewBag.Title = "Details";
}

<h2> products Details</h2>

<table class="table">
    <tr>
        <th>product id</th>
        <td>@ViewBag.MatchingProduct.productid</td>
        
    </tr>
    <tr>
        <th>product name</th>
        <td>@ViewBag.MatchingProduct.productname</td>

    </tr>
    <tr>
        <th>rate</th>
        <td>@ViewBag.MatchingProduct.rate</td>
    </tr>
</table>

